<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css"type="text/css">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!--CUSTOME CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <title>Home</title>
    
</head>
<body class="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Análisis de Sentimientos (Kichwa)</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav m-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="/">PRINCIPAL</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('lematizacion')}}">LEMATIZACIÓN</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="contenedor">
        <div class="formulario">
            <form method="post" align="center">
                <input type="text" id="name" name="name" placeholder="Ingrese la frase:"/>
                <input type="submit" placeholder="Enviar"> 
            </form>
        </div> 
        <div class="contenedor" align="center">
            <br>
            <h3>Frase en kichwa = {{eje}}</h3>
            <h3>Significado en español = {{r1}}</h3>
            <h3>Polaridad del significado en español = {{pola}}</h3>
            <br>
            <h1>----------------Jaccard----------------</h1>
            <h3>Porcentaje de positividad = {{my}} </h3>
            <h3>Porcentaje de negatividad = {{my1}} </h3>
            <h3>Porcentaje de neutralidad = {{my2}} </h3>
            <h3>Mayor polaridad = {{polf}} </h3>
            <br>
            <h1>------------Coseno vectorial-----------</h1>
            <h3>Porcentaje de positividad = {{myy}} </h3>
            <h3>Porcentaje de negatividad = {{my11}} </h3>
            <h3>Porcentaje de neutralidad = {{my22}} </h3>
            <h3>Mayor polaridad = {{polf1}} </h3>

        </div>
    </div>
</body>
</html>